{% extends '_base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<body>

  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            {% block alerts %}
            {% include '__alerts.html' %}
            {% endblock alerts %}
            <div class="title-single-box">
              <h1 class="title-single">{{agent}}</h1>
              <span class="color-text-a">Agent {{agent}}</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{% url 'agents' %}">Agents</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  {{agent}}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single -->

    <!-- ======= Agent Single ======= -->
    <section class="agent-single">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-6">
                <div class="agent-avatar-box">
                  <img src="{{agent.agent.avatar.url}}" alt="" class="agent-avatar img-fluid" style="width: 450px; height: 500px; overflow: hidden;">
                </div>
              </div>
              <div class="col-md-5 section-md-t3">
                <div class="agent-info-box">
                  <div class="agent-title">
                    <div class="title-box-d">
                      <h3 class="title-d">{{agent}}
                      </h3>
                    </div>
                  </div>
                  <div class="agent-content mb-3">
                    <p class="content-d color-text-a">
                      {{agent.about}}
                    </p>
                    <div class="info-agents color-a">
                      <p>
                        <strong>Phone: </strong>
                        <span class="color-text-a"> {{agent.agent.phone_number}} </span>
                      </p>
                      <p>
                        <strong>Email: </strong>
                        <span class="color-text-a"> {{agent.agent.email}}</span>
                      </p>
                    </div>
                  </div>
                  <div class="socials-footer">
                    <ul class="list-inline">
                      {% if agent.facebook %}
                      <li class="list-inline-item">
                        <a target="_blank" href="https://{{agent.facebook}}">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      {% endif %}
                      {% if agent.twitter %}
                      <li class="list-inline-item">
                        <a target="_blank" href="https://{{agent.twitter}}">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      {% endif %}
                      {% if agent.instagram %}
                      <li class="list-inline-item">
                        <a target="_blank" href="https://{{agent.instagram}}">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      {% endif %}
                      {% if agent.whatsapp %}
                      <li class="list-inline-item">
                        <a target="_blank" href="https://{{agent.whatsapp}}">
                          <i class="bi bi-whatsapp" aria-hidden="true"></i>
                        </a>
                      </li>
                      {% endif %}
                      {% if agent.telegram %}
                      <li class="list-inline-item">
                        <a target="_blank" href="https://{{agent.telegram}}">
                          <i class="bi bi-telegram" aria-hidden="true"></i>
                        </a>
                      </li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 section-t8">
            <div class="title-box-d">
              <h3 class="title-d">My Properties ({{room_count}})</h3>
            </div>
          </div>
          <div class="row property-grid grid">
            {% if agent_rooms %}
            {% for room in agent_rooms %}
            <div class="col-md-4">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="{{room.cover_image.url}}" alt="{{room.cover_image.url}}" class="img-a img-fluid" style="width: 400px; height: 500px; overflow: hidden;">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="{{room.get_absolute_url}}">{{room.lodge.name}}
                          <br />{{room.lodge.area}}, {{room.lodge.get_campus_display}}</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">rent | &#x20A6; {{room.price |intcomma}}</span>
                      </div>
                      <a href="{{room.get_absolute_url}}" class="link-a">Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Type</h4>
                          <span>
                            {{room.get_type_display}}
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Light</h4>
                          <span>{{room.lodge.get_light_display}}</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Water</h4>
                          <span>{{room.lodge.get_water_display}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-sm-12 section-t8">
            <div class="title-box-d">
              <h3 class="title-d">Contact Agent</h3>
            </div>
            <div class="row">
              <div class="col-md-7">
                <form action="{{agent.get_absolute_url}}" method="POST" role="form" id="message-form">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12 mb-3">
                      <div class="form-group">
                        <input type="text" name="name" class="form-control form-control-lg form-control-a" placeholder="Your Name" required>
                      </div>
                    </div>
                    <div class="col-md-12 mb-3">
                      <div class="form-group">
                        <input type="text" name="email" class="form-control form-control-lg form-control-a" placeholder="Your Email" required>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea id="message" name="message" class="form-control form-control-lg form-control-a" name="message" cols="45" rows="8" placeholder="Message" required></textarea>
                      </div>
                    </div>
                    <div class="col-md-12 my-3">
                      <div class="mb-3">
                        <div class="loading"></div>
                        <div class="error-message"></div>
                        <div class="sent-message"></div>
                      </div>
                    </div>

                    <div class="col-md-12 text-center">
                      <button type="submit" class="btn btn-a">Send Message</button>
                    </div>
                  </div>
                </form>
              </div>
      </div>
    </section><!-- End Agent Single -->
    

  </main><!-- End #main -->

</body>

{% endblock content %}