{% extends '_base.html' %}
{% block content %}
<br><br><br><br><br><br>
<section id="login" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card"><br>
            <div class="col-sm-12">
              <div class="title-box-d">
                <h3 class="title-d">Logout</h3>
              </div>
            </div>
            <div class="card-body">
              <form action="{% url 'account_logout' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <p class="lead">Are You Sure you want to Logout?</p>
                  {{form}}
                </div>
                <input type="submit" value="Logout" class="btn btn-danger btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}