{% extends '_base.html' %}
{% block content %}
<br><br><br><br><br><br>
<section id="login" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card"><br>
            <div class="col-sm-12">
              <div class="title-box-d">
                <h3 class="title-d">Change Password</h3>
              </div>
            </div>
            <div class="card-body">
              <!-- Alerts-->
                {% include '_alerts.html' %}
                {% load i18n %}
                {% load allauth %}
                    <h1 class="display-4 mb-4">
                        Change Password
                    </h1>
                <p class="lead">Your password is now changed. you can now <a href="{% url 'account_login' %}" style="color: rgba(51, 51, 51, 0.8);">Login</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}