{% for message in messages %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if message.tags == 'success' %}
<script>
const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 7000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.onmouseenter = Swal.stopTimer;
    toast.onmouseleave = Swal.resumeTimer;
  }
});
Toast.fire({
  icon: "success",
  title: "{{message}}"
});
</script>
{% else %}
<script>
    Swal.fire(
    'Error',
    '{{message}}',
    'error'
    )
    </script>
{% endif %}
{% endfor %}


