{% extends '_base.html' %}
{% load static %}
{% load humanize %}
{% block content %}


<body>

  <!-- ======= Intro Section ======= -->
  <div class="intro intro-carousel swiper position-relative">

    <!-- latest rooms swiper -->
    <div class="swiper-wrapper">
      {% if rooms %}
      {% for room in rooms %}
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url('{{room.cover_image.url}}')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">{{room.lodge.area}}, {{room.lodge.get_campus_display}}
                    </p>
                    <h1 class="intro-title mb-4 ">
                        {{room.lodge.name}}
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="{{room.get_absolute_url}}"><span class="price-a">rent | &#x20A6; {{room.price | intcomma}}</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <!-- end -->

    <div class="swiper-pagination"></div>
  </div><!-- End Intro Section -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section class="section-services section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Our Services</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-cart"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">House Search</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  Simplify your housing search! Explore a variety of on-campus and off-campus
                   accommodation options tailored to your preferences and budget.
                </p>
              </div>
              <div class="card-footer-c">
                <a href="#" class="link-c link-icon">Read more
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-calendar4-week"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">RoomMate Matching</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  Connect with compatible roommates! Our platform helps you find the perfect
                   match for shared housing, ensuring a harmonious living experience.
                   <strong>(Coming Soon)</strong>
                </p>
              </div>
              <div class="card-footer-c">
                <a href="#" class="link-c link-icon">Read more
                  <span class="bi bi-calendar4-week"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-card-checklist"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">Rental Resources</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  Access helpful guides and resources! From understanding leases to creating a comfortable living space,
                   we provide valuable information for a seamless rental experience.
                </p>
              </div>
              <div class="card-footer-c">
                <a href="#" class="link-c link-icon">Read more
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Latest Rooms Section ======= -->
    <section class="section-property section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Latest Rooms</h2>
              </div>
              <div class="title-link">
                <a href="{% url 'rooms' %}">All Rooms
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="property-carousel" class="swiper">
          <div class="swiper-wrapper">
            
            {% for room in rooms %}
              
            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="{{room.cover_image.url}}" alt="{{room.cover_image.url}}" class="img-a img-fluid" style="width: 400px; height: 500px; overflow: hidden;">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="{{room.get_absolute_url}}">{{room.lodge.name}}
                          <br>{{room.lodge.area}}, {{room.lodge.get_campus_display}}
                        </a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">rent | &#x20A6; {{ room.price | floatformat:2 }}</span>
                      </div>
                      <a href="{{room.get_absolute_url}}" class="link-a">Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Type</h4>
                          <span>{{room.get_type_display}}
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Water</h4>
                          <span>{{room.lodge.get_water_display}}</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Light</h4>
                          <span>{{room.lodge.get_light_display}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->
            {% endfor %}
          </div>
        </div>
        <div class="propery-carousel-pagination carousel-pagination"></div>

      </div>
    </section><!-- End Latest Rooms Section -->

    <!-- ======= Agents Section ======= -->
    <section class="section-agents section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Best Agents</h2>
              </div>
              <div class="title-link">
                <a href="{% url 'agents' %}">All Agents
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          {% for agent in agents %}
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="{{agent.agent.avatar.url}}" alt="{{agent.agent.avatar.url}}" class="img-d img-fluid" style="width: 400px; height: 300px; overflow: hidden;">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="{{agent.get_absolute_url}}" class="link-two">{{agent}}
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    {{agent.about}}
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>Phone: </strong> {{agent.agent.phone_number}}
                    </p>
                    <p>
                      <strong>Email: </strong> {{agent.agent.email}}
                    </p>
                  </div>
                </div>
                <div class="card-footer-d">
                  <div class="socials-footer d-flex justify-content-center">
                    <ul class="list-inline">
     
                      <li class="list-inline-item">
                        <a target="_blank" href="http://{{agent.facebook}}" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
      
                      <li class="list-inline-item">
                        <a target="_blank" href="http://{{agent.twitter}}" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
    
                      <li class="list-inline-item">
                        <a target="_blank" href="http://{{agent.instagram}}" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
         
                      <li class="list-inline-item">
                        <a target="_blank" href="http://{{agent.whatsapp}}" class="link-one">
                          <i class="bi bi-whatsapp" aria-hidden="true"></i>
                        </a>
                      </li>
          
                      <li class="list-inline-item">
                        <a target="_blank" href="http://{{agent.telegram}}" class="link-one">
                          <i class="bi bi-telegram" aria-hidden="true"></i>
                        </a>
                      </li>
               
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </section><!-- End Agents Section -->


    <!-- ======= Testimonials Section ======= -->
    <section class="section-testimonials section-t8 nav-arrow-a">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Testimonials</h2>
              </div>
            </div>
          </div>
        </div>

        <div id="testimonial-carousel" class="swiper">
          <div class="swiper-wrapper">

            <div class="carousel-item-a swiper-slide">
              <div class="testimonials-box">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="testimonial-img">
                      <img src="{% static 'assets/img/testimonial-1.jpg' %}" alt="" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="testimonial-ico">
                      <i class="bi bi-chat-quote-fill"></i>
                    </div>
                    <div class="testimonials-content">
                      <p class="testimonial-text">
                        I can't thank FutMX Lodge enough for making my housing search a breeze. As a busy sophomore, the user-friendly platform helped me quickly find the perfect off-campus apartment. The detailed listings and
                         filters tailored to student needs made the process stress-free. Highly recommend.
                      </p>
                    </div>
                    <div class="testimonial-author-box">
                      <img src="{% static 'assets/img/mini-testimonial-1.jpg' %}" alt="" class="testimonial-avatar">
                      <h5 class="testimonial-author">Albert & Erika</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->

            <div class="carousel-item-a swiper-slide">
              <div class="testimonials-box">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="testimonial-img">
                      <img src="{% static 'assets/img/testimonial-2.jpg' %}" alt="" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="testimonial-ico">
                      <i class="bi bi-chat-quote-fill"></i>
                    </div>
                    <div class="testimonials-content">
                      <p class="testimonial-text">
                        My roommate and I stumbled upon FutMX Lodge during our frantic search for off-campus housing. The platform's simplicity and detailed property listings were a game-changer.
                         We found the perfect apartment stress-free. FutMX lodge turned a daunting
                         process into a smooth experience, and we couldn't be happier with our new place!
                      </p>
                    </div>
                    <div class="testimonial-author-box">
                      <img src="{% static 'assets/img/mini-testimonial-2.jpg' %}" alt="" class="testimonial-avatar">
                      <h5 class="testimonial-author">Pablo & Emma</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->

          </div>
        </div>
        <div class="testimonial-carousel-pagination carousel-pagination"></div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->


{% endblock content %}

</body>
