{% extends 'base.html' %} 
{% load static %}
{% load humanize %}
{% block content %}
<!-- home -->
  <!-- Showcase -->
  <section id="showcase">
    {% include '_alerts.html' %}
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Finding Accomondation Just Got So Easy
          </h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel nostrum magnam
            voluptatum tempore! Consectetur, id commodi!</p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="area" class="form-control" value="{{values.area}}" placeholder="Keyword (Pool, Garage, etc)">
                </div>
  
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Price</label>
                  <input type="text" name="price" value="{{values.price}}" class="form-control" placeholder="What is Your Budget? (e.g 50,000)">
                </div>
  
                <div class="col-md-4 mb-3">
                  <label class="sr-only">State</label>
                  <select name="campus" class="form-control">
                    <option selected="true" disabled="disabled">Campus</option>
                    {% for key,value in campus_choices %}
                        <option value="{{key}}" {% if key == values.campus %}
                                selected
                            {% endif %} >{{value}}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Room Type</label>
                  <select name="type" class="form-control">
                    <option selected="true" disabled="disabled">Room Type</option>
                    {% for key,value in type_choices %}
                        <option value="{{key}}" {% if key == values.type %}
                                selected
                            {% endif %} >{{value}}</option>
                      {% endfor %}
                  </select>
                </div>
  
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Light</label>
                  <select name="light" class="form-control">
                    <option selected="true" disabled="disabled">Light</option>
                    {% for key,value in light_choices %}
                        <option value="{{key}}" {% if key == values.light %}
                                selected
                            {% endif %} >{{value}}</option>
                      {% endfor %}
                  </select>
                </div>
  
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Water</label>
                  <select name="water" class="form-control">
                    <option selected="true" disabled="disabled">Water</option>
                    {% for key,value in water_choices %}
                        <option value="{{key}}" {% if key == values.water %}
                                selected
                            {% endif %} >{{value}}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Listings</h3>
      <div class="row">
        {% if rooms %}
          {% for room in rooms %}
          <!-- Listing 1 -->
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" src="{{room.cover_image.url}}" alt="">
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">N {{room.price}}</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary"></h4>
                  <p>
                    <i class="fas fa-th-large text-secondary"></i> {{room.lodge.name}} </p>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-map-marker"></i> Campus: {{room.lodge.get_campus_display}}</div>
                  <div class="col-6">
                    <i class="fas fa-car"></i> Area: {{room.lodge.area}}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-bed"></i> RoomType: {{room.get_type_display}}</div>
                  <div class="col-6">
                    <i class="fas fa-bath"></i> Number: {{room.number}}</div>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-user"></i> {{room.agent}}</div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-6">
                    <i class="fas fa-clock"></i>{{room.created_at|timesince}}</div>
                </div>
                <hr>
                <a href="{{room.get_absolute_url}}" class="btn btn-primary btn-block">More Info</a>
              </div>
            </div>
          </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Listings Available</p>
          </div>
        {% endif %}

      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Propery Management</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Renting & Selling</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}