{% extends '_base.html' %}
{% load static %}
{% block content %}
<body>
  <main id="main">
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Explore Amazing Lodges</h1>
              <span class="color-text-a">Lodges</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Lodges
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="grid-option">
              <form>
                <select class="custom-select">
                  <option selected>All</option>
                  <option value="1">New to Old</option>
                  <option value="2">For Rent</option>
                  <option value="3">For Sale</option>
                </select>
              </form>
            </div>
          </div>

          <!-- lodges display -->
          {% if lodges %}
          {% for lodge in lodges %}
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="{{lodge.cover_image.url}}" alt="" class="img-a img-fluid" style="width: 400px; height: 500px; overflow: hidden;">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="{{lodge.get_absolute_url}}">{{lodge.area}}, {{lodge.get_campus_display}}
                        <br /> {{lodge.name}}</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">Available Rooms | {{lodge.available_rooms}}</span>
                    </div>
                    <a href="{{lodge.get_absolute_url}}" class="link-a">Click here to view
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Area</h4>
                        <span>{{lodge.area}}
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Light</h4>
                        <span>{{lodge.get_light_display}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Water</h4>
                        <span>{{lodge.get_water_display}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
        <!-- end lodges display -->

        <!-- paginator -->
        {% include 'lodges/paginator.html' with page=lodges %}
        <!-- end paginator -->
        
      </div>
    </section><!-- End Property Grid Single-->

  </main><!-- End #main -->
{% endblock content %}
</body>

