<div class="row">
    <div class="col-sm-12">
      <nav class="pagination-a">
        <ul class="pagination justify-content-end">
          <!-- FIRST PAGE -->
        {% if page.has_previous %}
          <li class="page-item disabled">
            <a class="page-link" href="?page=1" tabindex="-1">
              <span class="bi bi-chevron-left"></span>
            </a>
          </li>
        {% endif %}
        <!-- END FIRST PAGE -->

        <!-- PAGE RANGE AND CURRENT PAGE -->
          {% for num in page.paginator.page_range %}
          {% if num == page.number %}
          <li class="page-item active">
            <a class="page-link" href="?page={{num}}">{{num}}</a>
          </li>
          {% elif page.number > num|add:"-3" and page.number < num|add:"+3" %}
          <li class="page-item">
            <a class="page-link" href="?page={{num}}">{{num}}</a>
          </li>
          {% endif %}
          {% endfor %}
          <!-- END PAGE RANGE AND CURRENT PAGE -->

          <!-- LAST PAGE  -->
          {% if page.has_next %}
          <li class="page-item next">
            <a class="page-link" href="?page={{page.paginator.num_pages}}">
              <span class="bi bi-chevron-right"></span>
            </a>
          </li>
          {% endif %}
          <!-- END LAST PAGE -->
        </ul>
      </nav>
    </div>
  </div>
</div>